/*
Kafka Bridge API Reference

The Kafka Bridge provides a REST API for integrating HTTP based client applications with a Kafka cluster. You can use the API to create and manage consumers and send and receive records over HTTP rather than the native Kafka protocol. 

API version: 0.1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package kafka_bridge

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// ProducerAPIService ProducerAPI service
type ProducerAPIService service

type ProducerAPISendRequest struct {
	ctx context.Context
	ApiService *ProducerAPIService
	topicname string
	producerRecordList *ProducerRecordList
	async *bool
}

func (r ProducerAPISendRequest) ProducerRecordList(producerRecordList ProducerRecordList) ProducerAPISendRequest {
	r.producerRecordList = &producerRecordList
	return r
}

// Ignore metadata as result of the sending operation, not returning them to the client. If not specified it is false, metadata returned.
func (r ProducerAPISendRequest) Async(async bool) ProducerAPISendRequest {
	r.async = &async
	return r
}

func (r ProducerAPISendRequest) Execute() (*OffsetRecordSentList, *http.Response, error) {
	return r.ApiService.SendExecute(r)
}

/*
Send Method for Send

Sends one or more records to a given topic, optionally specifying a partition, key, or both.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param topicname Name of the topic to send records to or retrieve metadata from.
 @return ProducerAPISendRequest
*/
func (a *ProducerAPIService) Send(ctx context.Context, topicname string) ProducerAPISendRequest {
	return ProducerAPISendRequest{
		ApiService: a,
		ctx: ctx,
		topicname: topicname,
	}
}

// Execute executes the request
//  @return OffsetRecordSentList
func (a *ProducerAPIService) SendExecute(r ProducerAPISendRequest) (*OffsetRecordSentList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OffsetRecordSentList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProducerAPIService.Send")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/topics/{topicname}"
	localVarPath = strings.Replace(localVarPath, "{"+"topicname"+"}", url.PathEscape(parameterValueToString(r.topicname, "topicname")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.producerRecordList == nil {
		return localVarReturnValue, nil, reportError("producerRecordList is required and must be specified")
	}

	if r.async != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "async", r.async, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/vnd.kafka.json.v2+json", "application/vnd.kafka.binary.v2+json", "application/vnd.kafka.text.v2+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.kafka.v2+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.producerRecordList
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ProducerAPISendToPartitionRequest struct {
	ctx context.Context
	ApiService *ProducerAPIService
	topicname string
	partitionid int32
	producerRecordToPartitionList *ProducerRecordToPartitionList
	async *bool
}

// List of records to send to a given topic partition, including a value (required) and a key (optional).
func (r ProducerAPISendToPartitionRequest) ProducerRecordToPartitionList(producerRecordToPartitionList ProducerRecordToPartitionList) ProducerAPISendToPartitionRequest {
	r.producerRecordToPartitionList = &producerRecordToPartitionList
	return r
}

// Whether to return immediately upon sending records, instead of waiting for metadata. No offsets will be returned if specified. Defaults to false.
func (r ProducerAPISendToPartitionRequest) Async(async bool) ProducerAPISendToPartitionRequest {
	r.async = &async
	return r
}

func (r ProducerAPISendToPartitionRequest) Execute() (*OffsetRecordSentList, *http.Response, error) {
	return r.ApiService.SendToPartitionExecute(r)
}

/*
SendToPartition Method for SendToPartition

Sends one or more records to a given topic partition, optionally specifying a key.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param topicname Name of the topic to send records to or retrieve metadata from.
 @param partitionid ID of the partition to send records to or retrieve metadata from.
 @return ProducerAPISendToPartitionRequest
*/
func (a *ProducerAPIService) SendToPartition(ctx context.Context, topicname string, partitionid int32) ProducerAPISendToPartitionRequest {
	return ProducerAPISendToPartitionRequest{
		ApiService: a,
		ctx: ctx,
		topicname: topicname,
		partitionid: partitionid,
	}
}

// Execute executes the request
//  @return OffsetRecordSentList
func (a *ProducerAPIService) SendToPartitionExecute(r ProducerAPISendToPartitionRequest) (*OffsetRecordSentList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OffsetRecordSentList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProducerAPIService.SendToPartition")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/topics/{topicname}/partitions/{partitionid}"
	localVarPath = strings.Replace(localVarPath, "{"+"topicname"+"}", url.PathEscape(parameterValueToString(r.topicname, "topicname")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"partitionid"+"}", url.PathEscape(parameterValueToString(r.partitionid, "partitionid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.producerRecordToPartitionList == nil {
		return localVarReturnValue, nil, reportError("producerRecordToPartitionList is required and must be specified")
	}

	if r.async != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "async", r.async, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/vnd.kafka.json.v2+json", "application/vnd.kafka.binary.v2+json", "application/vnd.kafka.text.v2+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.kafka.v2+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.producerRecordToPartitionList
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
