/*
Kafka Bridge API Reference

The Kafka Bridge provides a REST API for integrating HTTP based client applications with a Kafka cluster. You can use the API to create and manage consumers and send and receive records over HTTP rather than the native Kafka protocol. 

API version: 0.1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package kafka_bridge

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// SeekAPIService SeekAPI service
type SeekAPIService service

type SeekAPISeekRequest struct {
	ctx context.Context
	ApiService *SeekAPIService
	groupid string
	name string
	offsetCommitSeekList *OffsetCommitSeekList
}

// List of partition offsets from which the subscribed consumer will next fetch records.
func (r SeekAPISeekRequest) OffsetCommitSeekList(offsetCommitSeekList OffsetCommitSeekList) SeekAPISeekRequest {
	r.offsetCommitSeekList = &offsetCommitSeekList
	return r
}

func (r SeekAPISeekRequest) Execute() (*http.Response, error) {
	return r.ApiService.SeekExecute(r)
}

/*
Seek Method for Seek

Configures a subscribed consumer to fetch offsets from a particular offset the next time it fetches a set of records from a given topic partition. This overrides the default fetch behavior for consumers. You can specify one or more topic partitions.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param groupid ID of the consumer group to which the consumer belongs.
 @param name Name of the subscribed consumer.
 @return SeekAPISeekRequest
*/
func (a *SeekAPIService) Seek(ctx context.Context, groupid string, name string) SeekAPISeekRequest {
	return SeekAPISeekRequest{
		ApiService: a,
		ctx: ctx,
		groupid: groupid,
		name: name,
	}
}

// Execute executes the request
func (a *SeekAPIService) SeekExecute(r SeekAPISeekRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SeekAPIService.Seek")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/consumers/{groupid}/instances/{name}/positions"
	localVarPath = strings.Replace(localVarPath, "{"+"groupid"+"}", url.PathEscape(parameterValueToString(r.groupid, "groupid")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.offsetCommitSeekList == nil {
		return nil, reportError("offsetCommitSeekList is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/vnd.kafka.v2+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.kafka.v2+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.offsetCommitSeekList
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type SeekAPISeekToBeginningRequest struct {
	ctx context.Context
	ApiService *SeekAPIService
	groupid string
	name string
	partitions *Partitions
}

// List of topic partitions to which the consumer is subscribed. The consumer will seek the first offset in the specified partitions.
func (r SeekAPISeekToBeginningRequest) Partitions(partitions Partitions) SeekAPISeekToBeginningRequest {
	r.partitions = &partitions
	return r
}

func (r SeekAPISeekToBeginningRequest) Execute() (*http.Response, error) {
	return r.ApiService.SeekToBeginningExecute(r)
}

/*
SeekToBeginning Method for SeekToBeginning

Configures a subscribed consumer to seek (and subsequently read from) the first offset in one or more given topic partitions.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param groupid ID of the consumer group to which the subscribed consumer belongs.
 @param name Name of the subscribed consumer.
 @return SeekAPISeekToBeginningRequest
*/
func (a *SeekAPIService) SeekToBeginning(ctx context.Context, groupid string, name string) SeekAPISeekToBeginningRequest {
	return SeekAPISeekToBeginningRequest{
		ApiService: a,
		ctx: ctx,
		groupid: groupid,
		name: name,
	}
}

// Execute executes the request
func (a *SeekAPIService) SeekToBeginningExecute(r SeekAPISeekToBeginningRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SeekAPIService.SeekToBeginning")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/consumers/{groupid}/instances/{name}/positions/beginning"
	localVarPath = strings.Replace(localVarPath, "{"+"groupid"+"}", url.PathEscape(parameterValueToString(r.groupid, "groupid")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.partitions == nil {
		return nil, reportError("partitions is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/vnd.kafka.v2+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.kafka.v2+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.partitions
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type SeekAPISeekToEndRequest struct {
	ctx context.Context
	ApiService *SeekAPIService
	groupid string
	name string
	partitions *Partitions
}

// List of topic partitions to which the consumer is subscribed. The consumer will seek the last offset in the specified partitions.
func (r SeekAPISeekToEndRequest) Partitions(partitions Partitions) SeekAPISeekToEndRequest {
	r.partitions = &partitions
	return r
}

func (r SeekAPISeekToEndRequest) Execute() (*http.Response, error) {
	return r.ApiService.SeekToEndExecute(r)
}

/*
SeekToEnd Method for SeekToEnd

Configures a subscribed consumer to seek (and subsequently read from) the offset at the end of one or more of the given topic partitions.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param groupid ID of the consumer group to which the subscribed consumer belongs.
 @param name Name of the subscribed consumer.
 @return SeekAPISeekToEndRequest
*/
func (a *SeekAPIService) SeekToEnd(ctx context.Context, groupid string, name string) SeekAPISeekToEndRequest {
	return SeekAPISeekToEndRequest{
		ApiService: a,
		ctx: ctx,
		groupid: groupid,
		name: name,
	}
}

// Execute executes the request
func (a *SeekAPIService) SeekToEndExecute(r SeekAPISeekToEndRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SeekAPIService.SeekToEnd")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/consumers/{groupid}/instances/{name}/positions/end"
	localVarPath = strings.Replace(localVarPath, "{"+"groupid"+"}", url.PathEscape(parameterValueToString(r.groupid, "groupid")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.partitions == nil {
		return nil, reportError("partitions is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/vnd.kafka.v2+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.kafka.v2+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.partitions
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
